@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
h1{
	text-transform: uppercase;
}
.mainCon{
	width: 100%;
	height: 99vh;
	
}
.head{
	width:100%;
	height:10%;
	padding-top: 30px;
	background-color: #0000a0;
}
.body{
	width: 99.5%;
	height: 85%;
	/*border:2px solid black;
	background-color: #ff80ff;*/
}
.fil{
	width:30%;
	height:7vh;
	background-color: red;
	margin-top: 2vh;
	
	background-color: #c0c0c0;
	border-radius: 5vw;
	border:none;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
}
input {
	
	width:190px;
	height:20px;
	border:2px solid black;
	border-radius: 5px;
	background-color: #8080ff;
	font-weight: bold;
	margin-top: 2vh;

}
input::placeholder{
	color:#400040;
	font-weight: bold;
	
}
.sub{
	font-weight: bold;
	padding-left: 10px;
	background-color:#ffffff;
	transform:translateX(10px);
}
input:hover {
	background-color:#ffffff;
}
.but{
	width:30%;
	margin-top:3vh;
	height:40px;
	background-color: #c0c0c0;
	border-radius: 5vw;
	border:none;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
}
.button{
	width: 40px;
	height: 2vh;
	background-color: #c0c0c0;
	border-radius: 5vw;
	border:none;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 1.5vh;
	transform:translatex(-30px);
}
a:visited{
	color: #0000ff;
}
a:active{
	color: red;
}
a:link{
	color: black;
}
a:hover {
	color:green;
	
}
table{
	width:90%;
	margin-top: 2vh;
	background-color: red;
}
table,tr,td,th{
	border:2px black solid;
	border-radius: 2px;
	border-collapse: collapse;
	text-align: center;
}
td{
	background-color: yellow;
}
th{
	background-color: #ff80ff;
}


















